.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.baloon {
  background-color: #dddddd;
  border-width: 5px;
  border-color: #333;
  border-radius: 4px;
  margin: 10px 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: auto;
}

.baloon p {
  margin: 0;
}

.name {
  color: #333;
  font-size: 14px;
  padding-bottom: 10px;
}

.baloon-sent {
  background-color: #009b67;
  justify-content: flex-end;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.chat {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;  
  overflow: auto
}

.inputs {
  padding-bottom: 20px;
}
